* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(199, 16, 199);
    margin-bottom: 30px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background-color: purple;
    display: block;
    margin: 15px auto 0px;
}

h2::before {
    content: '';
    width: 200px;
    height: 3px;
    background-color: red;
    display: block;
    margin: 15px auto 0px;
}

h3::first-letter {
    background-color: yellow;
}

h4::first-line {
    background-color: green;
}

h5::selection {
    background-color: blue;
    color: white;
}

  li::marker {
    content: /*counter(li)*/ " - seila - "; /* mostra o número do marcador seguido de um ponto */
    color: #555;
    font-weight: bold;
    font-size: 20px;
  }