.container {
    background-color: darkgrey;
    height: 400px;
    color: white;
    font-size: 30px;

    display: flex;
    justify-content: center;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
    align-self: flex-end;
}

.r3 {
    background-color: green;
}

.rect {
    width: 100px;
    height: 100px;
}