* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(123, 198, 223);
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

section {
    text-align: center;
    margin: 25px 10px 0 10px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.384);
    background-color: #fff;
    transition: all 0.5s;
}

#msg {
    padding: 13px 0 18px 0;
    font-weight: bold;
}

section:hover {
    transform: scale(1.01);
}

footer {
    font-style: italic;
}