* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#primeira {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    padding: 10px;
}

#segunda {
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
}