body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

header {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: rgb(140, 138, 138);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 7px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.391);
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: rgb(165, 165, 165);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

#noticias-1 {
    background-color: rgb(82, 82, 82);
    color: white;
    text-align: justify;
    margin-top: 20px;
}

#titulo {
    text-align: center;
    color: chartreuse;
}

#fim {
    text-align: center;
    color: black;
}

#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}