@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.body_principal {
    background-color: rgb(34, 33, 33);
    border: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.titulo_principal {
    padding: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.container_videos {
    text-align: center;
}

/* Sub páginas */

.body_sub-paginas {
    background-color: rgb(34, 33, 33);
    border: 0px;
    margin: 0px;
    color: white;
}

.titulo_principal_sub-paginas {
    padding: 15px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.video_sub-paginas {
    display: block;
    margin: auto;
}

.paragrafo_sub-paginas a:link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.paragrafo_sub-paginas a:visited {
    color: white;
}

.voltar_sub-paginas {
    display: flex;
    justify-content: center;
}