body {
    display: flex;
}

div {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}