.container {
  background-color: darkgray;
  color: white;
  font-size: 20px;

  display: grid;
  grid-template: 200px 100px / 15% 70% 15%;

  /* grid-template-rows: 200px 100px;
  grid-template-columns: 15% 70% 15%; */
}

.r1 {
  background-color: red;
}

.r2 {
  background-color: blue;
}

.r3 {
  background-color: green;
}

.rect {
  margin: 4px;
}