body {
    background-color: rgb(123, 198, 223);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

section {
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.384);
    background-color: #fff;
    transition: all 0.5s;
}

section:hover {
    transform: scale(1.01);
}

input[type="number"] {
    width: 70px;
    height: 25px;
}

#btn-adicionar, #btn-finalizar {
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

#btn-adicionar {
    margin-bottom: 7px;
}

#btn-finalizar {
    margin-top: 7px;
}

select {
    width: 150px;
}

#resultado p {
    margin: 15px 0;
}

footer {
    font-style: italic;
}