h1 {
    text-align: center;
}

.video {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.video-area {
    position: relative;
    height: 0px;
    background-color: aqua;
    padding: 0px 0px 56.25%;
}

.video-area iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}